---
layout: default
---

<div class="container mx-auto px-4">
  <div class="py-8">
    <h1 class="font-black text-primary-400 mb-8 md:text-4xl text-xl text-center max-w-screen-md mx-auto">{{title}}</h1>
    <div
      class="text-gray-300 text-base leading-6 font-medium flex items-center justify-center"
    >
      <time>
        {{ date | readableDate }} by
        <a>{{ author }}</a>
      </time>
    </div>
    <div class="tag-container">
      {% for tag in tags %} {%- if tag != "post" -%} {% set tagUrl %}/tags/{{
      tag }}/{% endset %}
      <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%} {% endfor %}
    </div>
  </div>
</div>
<div class="container max-w-screen-lg px-6">
  <div class="">
    <div class="">
      <img
        class="w-full mb-12 object-cover max-h-96 rounded shadow-2xl"
        src="{{thumbnail}}"
        alt=""
      />
      <article class="prose lg:prose-xl my-4 mx-auto text-gray-300">
        {{ content | safe }}
      </article>
    </div>
  </div>
</div>
