---
layout: default
title: Home
path: home
---

{% include "partials/hero.html" %}

<div class="container mx-auto px-4">

  <div class="py-16">
    <h2 class="text-center text-4xl font-bold mb-8">Latest articles</h2>
    <div class="grid md:grid-cols-3 gap-8 ">
      {%- for item in collections.post -%} {% if loop.index0 < 3 %}
    <a
      href="{{ item.url }}"
      class="border border-gray-800 inline-flex flex-col hover:bg-gray-800"
    >
      <img
        src="{{ item.data.thumbnail }}"
        alt="{{ item.data.title }} - Thumbnail"
        class="w-full max-h-24 object-cover"
      />
      <div class="p-5">
        <div class="font-bold text-xl text-gray-100">{{ item.data.title }}</div>
        <time class="block my-2 text-gray-400">
          {{ item.data.date | readableDate }}
        </time>
        <p class="text-gray-300">{{ item.data.description }}</p>
      </div>
    </a>
    {% endif %} {%- endfor -%}
    </div>
  </div>

  

  <section>
    <h2 class="text-center text-4xl font-bold mb-8">Topics</h2>
    <div class="flex flex-wrap justify-center">
      {%- for tag, posts in collections %} {% if loop.index0 > 1 %} {% set tagUrl
        %}/tags/{{ tag }}/{% endset %}
        <a class="tag" href="{{ tagUrl | url }}" rel="tag"
          >{{ tag }} ({{ posts | length }})</a
        >{% endif %} {%- endfor %}
    </div>
  </section>
</div>
